#  GaussianNB | naive_bayes
this algorith is usually used in classification of the elements that are independept of some feature

In [2]:
import pandas as pd
path = "C:\\Users\\mf879\\OneDrive\\Desktop\\Karunadu\\Data\\Data\\titanicsurvival.csv"
data= pd.read_csv(path)
print(data)

     Pclass  Gender   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Gender    891 non-null    object
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB
None

In [4]:
print(data.shape)

(891, 5)

In [5]:
data.isnull().sum()

Pclass        0
Gender        0
Age         177
Fare          0
Survived      0
dtype: int64

In [7]:
medianvalue=data.Age.median()
print(medianvalue)

28.0

In [8]:
data.Age=data.Age.fillna(medianvalue)
print(data)

     Pclass  Gender   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female  28.0  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [9]:
data.isnull().sum()

Pclass      0
Gender      0
Age         0
Fare        0
Survived    0
dtype: int64

In [10]:
data['Gender']=data['Gender'].map({'male':1,'female':0})
print(data)

     Pclass  Gender   Age     Fare  Survived
0         3       1  22.0   7.2500         0
1         1       0  38.0  71.2833         1
2         3       0  26.0   7.9250         1
3         1       0  35.0  53.1000         1
4         3       1  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2       1  27.0  13.0000         0
887       1       0  19.0  30.0000         1
888       3       0  28.0  23.4500         0
889       1       1  26.0  30.0000         1
890       3       1  32.0   7.7500         0

[891 rows x 5 columns]

In [11]:
inputs=data.drop('Survived','columns')
output=data.drop(['Pclass','Gender','Age','Fare'],'columns')
print(inputs)
print(output)

     Pclass  Gender   Age     Fare
0         3       1  22.0   7.2500
1         1       0  38.0  71.2833
2         3       0  26.0   7.9250
3         1       0  35.0  53.1000
4         3       1  35.0   8.0500
..      ...     ...   ...      ...
886       2       1  27.0  13.0000
887       1       0  19.0  30.0000
888       3       0  28.0  23.4500
889       1       1  26.0  30.0000
890       3       1  32.0   7.7500

[891 rows x 4 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

C:\Users\mf879\AppData\Local\Temp\ipykernel_7092\1103768442.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop('Survived','columns')
C:\Users\mf879\AppData\Local\Temp\ipykernel_7092\1103768442.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['Pclass','Gender','Age','Fare'],'columns')

In [12]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,output,train_size=0.8)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

     Pclass  Gender   Age     Fare
239       2       1  33.0  12.2750
427       2       0  19.0  26.0000
464       3       1  28.0   8.0500
545       1       1  64.0  26.0000
678       3       0  43.0  46.9000
..      ...     ...   ...      ...
127       3       1  24.0   7.1417
39        3       0  14.0  11.2417
500       3       1  17.0   8.6625
1         1       0  38.0  71.2833
451       3       1  28.0  19.9667

[712 rows x 4 columns]
     Pclass  Gender    Age     Fare
490       3       1  28.00  19.9667
50        3       1   7.00  39.6875
469       3       0   0.75  19.2583
35        1       1  42.00  52.0000
68        3       0  17.00   7.9250
..      ...     ...    ...      ...
358       3       0  28.00   7.8792
455       3       1  29.00   7.8958
366       1       0  60.00  75.2500
224       1       1  38.00  90.0000
823       3       0  27.00  12.4750

[179 rows x 4 columns]
     Survived
239         0
427         1
464         0
545         0
678         0
..        ...
127         1
39          1
500         0
1           1
451         0

[712 rows x 1 columns]
     Survived
490         0
50          0
469         1
35          0
68          1
..        ...
358         1
455         1
366         1
224         1
823         1

[179 rows x 1 columns]

In [13]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)
print(y_test)

[0 0 1 0 1 0 0 0 0 0 1 0 1 0 1 0 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 1 0 1 0
 0 1 1 0 0 1 1 1 0 1 0 1 1 1 0 0 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 1 0 0 0 0 1
 1 0 1 0 1 0 0 0 1 1 1 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1
 0 0 1 1 0 0 1 1 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 1
 1 0 1 0 1 0 1 1 0 1 1 0 0 0 1 0 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1]
     Survived
490         0
50          0
469         1
35          0
68          1
..        ...
358         1
455         1
366         1
224         1
823         1

[179 rows x 1 columns]

C:\Users\mf879\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
pclass=int(input("Enter the person pclass:"))
gender=int(input("Enter the gender of the person 0-> female & 1-> Male "))
age=int(input("Enter the person age :"))
fare=int(input("enter the fare "))
result=model.predict([[pclass,gender,age,fare]])
print(result)
if result ==1:
    print("Person is survuved ")
else :
    print("Person did not survuve ")

Enter the person pclass:2
Enter the gender of the person 0-> female & 1-> Male 1
Enter the person age :24
enter the fare 100
[1]
Person is survuved

C:\Users\mf879\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(